body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img{
  height: 10em;
  width: 10em;
  /* border: 1px dotted black; */
  margin-bottom: 2em;
}

.container{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.ToggleButton{
  display: flex;
  align-items: center;
  padding: 0.5em 1em;
  /* border: 1em solid yellow; */
  width: 5em;
  font-size: 1em;
  font-weight: bolder;
  /* color: green; */
  cursor: pointer;
  flex-direction: column;
  border-radius: 4px;
}

.TurnOnButton{
  border: 0.2em solid green;
  color: green;
}
.TurnOffButton{
  border: 0.2em solid red;
  color: red;
}
